*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.center{
    width: 1200px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 60px;
    background-color:#4f000b;
}

.header img{
    margin: 15px; /* deixar a imagem ao centro*/
}

.container-banner{
    width: 100%;
    height: 557px;
    background-image: url('../IMG/livros.jpg');
    background-size: cover;
    background-position: center; /*Responsivo*/
}

.form{
    width: 400px;
    height: 59vh;
    float: right;
    border:rgba(128, 128, 128, 0.404) solid 8px;
    background-color:white;
    color: #999999;

}

.form h2{
    font-weight: normal;
    color: #999999;
    font-size:20px;
    text-align: center;
}

.input{
    margin-top: 20px;
}

.input span{
    display: inline-block; /* Nome em cima da caixinha de texto*/
    width: 100%;
    color:#BBBB;
    font-size: 17px;   
}

.input input[type=text]{
    width: 344px;
    height: 55px;
    border: 1px solid;
    color: #ccc;
}

#botao {
    width: 280px;
    height: 56px;
    display: inline-block;
    background-color:#720026;
    color: white;
    cursor: pointer;
    text-align: center;    
}

.lista {
    padding: 30px;
    float: left;
    width: 619px;
    height: 270px;
    background-color:#ce617177 ;
    margin-top: 48px;
}

.lista ul{
    list-style-position: inside;
}

.lista ul h2{
    color: white;
  
}

.lista ul li{
    margin-top: 18px;
    color: white;
    font-size: 20px;  
    font-style: italic; 
}

.corpo2{
    padding: 70px 0;
    background-color:#ecad96;
    text-align: center;
    color: rgb(59, 58, 58);
}

.corpo h2{
    font-weight: normal; 
}

.corpo p{
    text-align: justify;
}

.corpo3 {
    padding: 70px 0;
    background-color:white;
    text-align: center;
    color:rgb(59, 58, 58);
}

.corpo3 h2{
    font-weight: normal;
}

#rodape{
    padding: 70px 0;
    background-color:lightcoral;
    text-align: center;
    color: white;
}